<script>
import calculate  from './functions/calculate'
import converstring from './functions/convertstring'


let number = '';
let root = 0;
let inputString = '';
let outputString = '';

function calculateSquareRoot() {
  root = calculate.squareRoot(parseFloat(number));
}

function convertString() {
  outputString = converstring.convertToThai(inputString);
}
</script>

<main>
  <h1>Square Root Calculator and String Converter</h1>
  <div>

    <h2>Calculate Square Root</h2>
    <label for="number">Enter a number:</label>
    <input type="number" id="number" bind:value={number}>

    <button on:click={calculateSquareRoot}>Calculate</button>

    {#if root}
      <p>The square root of {number} is {root}.</p>
    {/if}
  </div>

  <div>

    <h2>Convert String to Thai</h2>
    <label for="inputString">Enter a string:</label>
    <input type="text" id="inputString" bind:value={inputString}>

    <button on:click={convertString}>Convert</button>

    {#if outputString}
      <p>The converted string is: {outputString}</p>
    {/if}

  </div>
</main>